<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="<%= production ? 'css/app.css' : 'assets/styles/app.css' %>">
	<title>Budget Graph</title>

    <script type="text/javascript">
        function loadTemplate(template_id) {
            var html = '';

            if (template_id) {

                <% if (production) { %>


                if (!window.$templateXML) {
                    $.ajax({
                        url: 'app.xml',
                        async: false,
                        success: function(xml) {
                            window.$templateXML = $(xml);
                        }
                    });
                }

                html = window.$templateXML.find('template[name="'+template_id+'"]').text();


                <% } else { %>


                $.ajax({
                    url: "assets/templates/" + template_id + ".html",
                    async: false,
                    success: function(templateHtml) {
                        html = templateHtml;
                    }
                });


                <% } %>
            }

            return html;
        }
    </script>
</head>
<body>

	<section id="mainContent">
		<section id="sideBar"></section>
        <section id="slideIn"></section>
		<section id="graphArea"></section>
	</section>

    <div id="modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

	<% if (production)  { %>
        <script type="text/javascript" src="app.js"></script>
    <% } else { %>
        <script type="text/javascript" data-main="assets/scripts/main" src="assets/scripts/libs/require.js"></script>
    <% } %>

</body>
</html>