#graphArea {
	float: right;
	height: 100%;

	& > .graph {
		width: $graph-width;
		height: 100%;
	}

	.slider {
		margin: 5px 80px 0 40px;
	}

	.graph-top {
		height: $topAreas-height;
		width: 100%;
		padding: $topAreas-padding 40px;

		border-bottom: $size-border solid $color-border;

		.current-balance {
			width: 230px;
			height: $height-rounded-rect;
			line-height: $topAreas-height;
			padding: 0 20px;

			@include border-radius(20px);
			background-color: #d0d0d0;

			label {
				line-height: $topAreas-height;
			}

			input {
				@include border-radius(0px);
				border: 1px solid $color-border;
				width: 80px;
				line-height: 14px;
				font-size: 14px;
				text-align: right;
				margin-left: 3px;
			}
		}
	}
}