#sideBar > .side-bar {
	float: left;
	height: 100%;
	width: $sideBar-width;
	background: white;

	& > .top-part {
		height: $topAreas-height;
		padding: $topAreas-padding 0;
		text-align: center;
		position: relative;
		z-index: 1;

		border-bottom: $size-border solid $color-border;

		.add-txn-btn {
			@include border-radius(20px);
			border: none;
			background-color: #5ab45a;
			color: white;
			font-weight: bold;
			width: $sideBar-width - 30px;
			height: $height-rounded-rect;
			outline: none;

			&:hover {
				background-color: #60BF60;
			}

			&:active {
				background-color: #56AB56;
			}
		}
	}

	.transactions-region {
		overflow: scroll;
		height: $app-height - 67px;

		.transaction {
			padding: 5px 15px 5px 10px;
			height: 40px;
			background-color: #f0f0f0;
			border-bottom: 1px solid #bbb;

			.left-side {
				float: left;

				h2 {
					margin-bottom: 0;
				}

				span {
					display: inline-block;
					margin-bottom: 0;
					font-size: 13px;
					max-width: 135px;
					height: 20px;
					overflow: hidden;

				}
			}

			.amount-area {
				input {
					display: none;
					width: 80px;
					height: 15px;
					line-height: 15px;
					text-align: right;
				}
			}

			button.edit {
				filter: alpha(opacity=100);
				opacity: 1;
				height: 14px;
				margin: 4px 0 0 6px;

				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				outline: none;

				.icon-ok {
					display: none;
				}

				i:hover {
					opacity: 0.4;
					filter: alpha(opacity=40);
				}
			}
		}
	}
}
