#sideBar > .side-bar {
	float: left;
	height: 100%;
	width: $sideBar-width;
	background: white;

	& > .top-part {
		position: relative;
		z-index: 1;
		@include box-shadow(0 2px 6px #aaa);

		& > div {
			padding: 15px;
		}

		& > .current-balance {

			h2 {
				line-height: 16px;
			}

			input {
				width: 80px;
				line-height: 14px;
				font-size: 14px;
				text-align: right;
				margin-left: 3px;
			}
		}

		& > .add-transaction {
			height: 30px;
			width: 250px;
			position: relative;
			overflow: hidden;

			button {
				width: 250px;
				height: 30px;
			}
		}
	}

	.transactions-region {
		overflow: scroll;
		height: 433px;

		.transaction {
			padding: 5px 15px 5px 10px;
			height: 40px;
			@include cross_browser_linear_gradient(#e6e6e6, #cdcdcd);
			border-bottom: 1px solid #bbb;

			.left-side {
				float: left;

				h2 {
					margin-bottom: 0;
				}

				span {
					display: inline-block;
					margin-bottom: 0;
					font-size: 13px;
					@include text_shadow(white);
					max-width: 135px;
					height: 20px;
					overflow: hidden;

				}
			}

			.amount-area {
				input {
					display: none;
					width: 80px;
					height: 15px;
					line-height: 15px;
					text-align: right;
				}
			}

			button.edit {
				filter: alpha(opacity=100);
				opacity: 1;
				height: 14px;
				margin: 4px 0 0 6px;

				.icon-ok {
					display: none;
				}

				&:hover {
					opacity: 0.4;
					filter: alpha(opacity=40);
				}
			}
		}
	}
}
