<h2>On which day(s) of the month does it happen?</h2>
<table>
    <tr>
        <td class="pressable">1</td>
        <td class="pressable">2</td>
        <td class="pressable">3</td>
        <td class="pressable">4</td>
        <td class="pressable">5</td>
        <td class="pressable">6</td>
        <td class="pressable">7</td>
    </tr>
    <tr>
        <td class="pressable">8</td>
        <td class="pressable">9</td>
        <td class="pressable">10</td>
        <td class="pressable">11</td>
        <td class="pressable">12</td>
        <td class="pressable">13</td>
        <td class="pressable">14</td>
    </tr>
    <tr>
        <td class="pressable">15</td>
        <td class="pressable">16</td>
        <td class="pressable">17</td>
        <td class="pressable">18</td>
        <td class="pressable">19</td>
        <td class="pressable">20</td>
        <td class="pressable">21</td>
    </tr>
    <tr>
        <td class="pressable">22</td>
        <td class="pressable">23</td>
        <td class="pressable">24</td>
        <td class="pressable">25</td>
        <td class="pressable">26</td>
        <td class="pressable">27</td>
        <td class="pressable">28</td>
    </tr>
</table>