<div class="input-line">
	<h2 class="left">Name</h2>
	<div class="right">
		<input type="text" name="name"/>
	</div>
</div>

<div class="input-line">
	<h2 class="left">Type</h2>
	<div class="btn-group type right" data-toggle="buttons-radio">
		<button type="button" class="btn btn-success">Income</button>
		<button type="button" class="btn btn-danger">Expense</button>
	</div>
</div>

<div class="input-line">
	<h2 class="left">Amount</h2>
	<div class="right">
		$<input type="text" name="amount" />
	</div>
</div>

<div class="input-line">
	<h2 class="left">Time</h2>
	<div class="right">
		<div class="btn-group right" data-toggle="buttons-radio">
		<button type="button" class="btn once">Once</button>
		<button type="button" class="btn recurring">Recurring</button>
	</div>
	</div>
</div>

<div class="frequency-region"></div>

<div class="input-line">
	<button class="btn btn-primary add" data-loading-text="Adding...">Add</button>
</div>